<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gnardini.marketoffers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:name=".MarketOffersApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".ui.offers.OffersActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.login.SignupActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.offers.AcceptedOffersActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.show_qr.ShowQrActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.scan_qr.ScanQrActivity"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>